




a {

    
    text-decoration: none;
        /*  */
        /* display: inline-block; */
        width: 10%;
       font-size: 25px;
}


/* .aligmentsection{
    

    
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
      



} */





/* section img {

width:300px;
height: 300px;
border-radius: 50%;


} */


/* .divimg{

    background-color: burlywood;
    display: grid;
    grid-template-columns: auto auto auto auto; 
   align-items: right;
   align-content: space-between;
    background-color:darksalmon;

} */
    

.center{

margin-top :150px;



}

div img {

    width:300px;
    height: 300px;
    border-radius: 50%;
}
    
    
    h1{
        font-family: "Sofia", sans-serif;

        font-size: 45px; 


       

    }



p { font-family: Georgia; 
    font-size: 20px; font-style: 
    normal; font-variant: 
    normal; font-weight: 
    700; line-height: 26.4px; } 


    h2 {
        font-family: "Sofia", sans-serif;
        font-size: 16px;
        text-shadow: 3px 3px 3px #ababab;
        /* display: inline; */

      }
    
    body {

background-color: rgb(800, 206, 207);

    }


    table, th, td {
        border: 1px solid black;
     
    
    
    }


