
p { font-family: Georgia; 
    font-size: 24px; font-style: 
    normal; font-variant: 
    normal; font-weight: 
    700; line-height: 26.4px; } 


    
    
    body {

background-color: rgb(800, 206, 207);




    }


    table, th, td {
        border: 1px solid black;
     
    
    
    }