
.sectionimg {

    display: grid;
    grid-template-columns: auto auto auto auto; 
   align-items: right;
   align-content: space-between;
    background-color:darksalmon;
   




}






header div {


    
        /* display: inline-block; */
        width: 10%;
       font-size: 25px;
        float: right;
text-decoration: non;
}


.aligmentsection{
    display: grid;
    grid-template-columns: auto auto ;  
   align-items: right;
   align-content: space-between;
    /* background-color:rgb(163, 66, 34); */


    
        /* display: block; */
        margin-left: 1px;
        margin-right: auto;
        /* width: 40%; */
      



}


main section  img {

margin-right: 220px;



}

main section  ul h2 {

    color:brown;
 
    font-size: 45px; 
        }



main section  ul li {

color:black  ;  
font-family: Georgia; 
font-size:20px;


    }



section img {

width:300px;
height: 300px;
border-radius: 50%;


}


.divimg{

    background-color: burlywood;
    display: grid;
    grid-template-columns: auto auto auto auto; 
   align-items: right;
   align-content: space-between;
    background-color:darksalmon;

}
    

.center{

margin-top :150px;



}

div img {

    width:300px;
    height: 300px;
    border-radius: 50%;
}
    
    
    h1{
        font-family: "Sofia", sans-serif;

        font-size: 45px; 


       

    }



p { font-family: Georgia; 
    font-size: 20px; font-style: 
    normal; font-variant: 
    normal; font-weight: 
    700; line-height: 26.4px; } 


    h2 {
        font-family: "Sofia", sans-serif;
        font-size: 16px;
        text-shadow: 3px 3px 3px #ababab;
        /* display: inline; */

      }
    
    body {

background-color: rgb(800, 206, 207);

    }


    table, th, td {
        border: 1px solid black;
     
    
    
    }


